body {
    background-color: #1a73e8;
}

.standby-screen {
    height: 100vh;
}

.standby-screen .image {
    height: 80%;
    background-image: url('/images/sb.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.standby-screen .touch-screen {
    height: 20%;
    display: table;
    width: 100%;
}

.standby-screen .touch-screen .text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
    color: #fff;
}

.package-type {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.package-type .package-container {
    margin: auto;
}

.package-type .package-container .logo {
    text-align: center;
}

.package-type .package-container .logo img {
    height: 100px;
    margin-bottom: 100px;
}

.package-type .package-container .package-list {
    display: flex;
    flex-wrap: nowrap;
}

.package-type .package-container .package-list .package-btn {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 75px 40px;
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.package-type .package-container .package-list .package-btn .package-image {
    text-align: center;
    margin-bottom: 20px;
}

.package-type .package-container .package-list .package-btn .package-image img {
    height: 100px;
}

.package-catalog {
    padding-top: 20px;
    padding-bottom: 20px;
}

.package-catalog .logo img {
    width: 100%;
}

.package-catalog .logo img {
    width: 100%;
}

.package-catalog .app-title h1 {
    color: #fff;
    font-weight: 600;
}

hr {
    border: 2px solid #fff;
}

.package-catalog .package-item {
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    position: relative;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
}

.package-catalog .package-item .row {
    height: 100%;
}

.package-catalog .package-item .row .col-3 {
    border-right: 1px solid #989898;
    display: table;
}

.package-catalog .package-item .row .col-3 .icon {
    display: table-cell;
    vertical-align: middle;
}

.package-catalog .package-item .row .col-3 .icon img {
    width: 100%;
}

.package-catalog .package-item .row .col-9 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.package-catalog .package-item h3 {
    font-size: 22px;
    color: #3C3C3C;
    font-weight: 600;
}

.package-catalog .package-item .speed {
    font-size: 16px;
    color: #989898;
    font-weight: normal;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed #dadde6;
}

.package-catalog .package-item .thumbnail {
    margin-bottom: 20px;
}

.package-catalog .package-item .thumbnail img {
    height: 150px;
}

.package-catalog .package-item .price {
    font-size: 18px;
    color: grey;
}

.payment-method {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.payment-method .payment-container {
    margin: auto;
}

.payment-method .payment-container .logo {
    text-align: center;
}

.payment-method .payment-container .logo img {
    height: 100px;
    margin-bottom: 50px;
}

.payment-method .payment-container .payment-list {
    display: flex;
    flex-wrap: nowrap;
}

.payment-method .payment-container .payment-list .payment-btn {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 20px;
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.payment-method .payment-container .payment-list .payment-btn .payment-image {
    text-align: center;
    margin-bottom: 20px;
}

.payment-method .payment-container .payment-list .payment-btn .payment-image img {
    height: 100px;
}

.payment-method .payment-container .title h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.payment-method .payment-container .payment {
    width: 400px;
}

.payment .package-item {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 20px;
}

.payment .package-item .row .col-3 {
    border-right: 1px solid #989898;
    display: table;
}

.payment .package-item .row .col-3 .icon {
    display: table-cell;
    vertical-align: middle;
}

.payment .package-item .row .col-3 .icon img {
    width: 100%;
}

.payment .package-item .row .col-9 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.payment .package-item h3 {
    font-size: 22px;
    color: #3C3C3C;
    font-weight: 600;
}

.payment .package-item .speed {
    font-size: 16px;
    color: #989898;
    font-weight: normal;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed #dadde6;
}

.voucher {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.voucher .voucher-container {
    margin: auto;
    padding: 30px;
    background-color: #1a73e8;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 500px;
}

.voucher .voucher-container .col-4, .voucher .voucher-container .col-8 {
    text-align: center;
    color: #fff;
}

.voucher .voucher-container .logo {
    margin-bottom: 15px;
}

.voucher .voucher-container .logo img {
    height: 100px;
}

.voucher .voucher-container .title {
    color: #fff;
    font-weight: 600;
}

.voucher .voucher-container .title {
    color: #fff;
    font-weight: 600;
}

#voucher-username {
    font-weight: 700;
}

#voucher-password {
    background-color: #fff;
    border-radius: 5px;
    color: rgba(17, 12, 46);
    font-weight: 700;
    width: auto;
}
